<div class="staff-list main-content">

    <nav #navbar class="navbar navbar-default  custom">
        <div class="container-fluid">
            
            <app-staff-header-menu></app-staff-header-menu>

            <div class="row custom-table"> 
                <div class="staff-access-body col-md-12 card">

                    <div class=" heading">
                            <div class="row">
                        
                                <span class="staff-access-span">Staff Access</span>
                             
                                
                                <button class="performance btn">Performance</button>
                            </div>
                    </div>
                    
                    <table class="table ">
                        <thead>
                            <tr>
                                <th><b>Page</b></th>
                                <th class="text-center"><b>Business owner</b> </th>
                                <th class="text-center"><b>Manager</b> </th>
                                <th class="text-center"><b>Senior Staff</b> </th>
                                <th class="text-center"><b>Staff</b> </th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let list of ACCESS_LIST ; let i = index" >
                                <td> 
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                                    </svg> -->
                                    <i class="staff-access-arrow-icon fa fa-long-arrow-right" aria-hidden="true"></i>
                                    {{ list.page_name }} 
                                </td>
                                <td class="text-center"> <input type="checkbox" (change)="checkOwner(i)" class="rounded-checkbox" selected></td>
                                <td class="text-center"> <input type="checkbox" (change)="checkManager(i)" class="rounded-checkbox" ></td>
                                <td class="text-center"> <input type="checkbox" (change)="checkSenior(i)" class="rounded-checkbox"></td>
                                <td class="text-center"> <input type="checkbox" (change)="checkStaff(i)" class="rounded-checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </nav>
</div>